GROK_API_KEY=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
GROK_API_URL=https://api.groq.com/openai/v1
MONGODB_URI=mongodb://atlas-sql-xxxxx.a.query.mongodb.net/your_database?ssl=true&authSource=admin
PORT=5000
